<div class="row">
  <div class="col-md-6">
    <h1>Hello user<!--  {{ currentUser.firstName }}-->!</h1>
    <button class="btn btn-success" (click)="createTesty()">Add Testy</button>
    <button class="btn btn-success" (click)="testLogin()">Login as Testy</button>
  </div>
  
  <div class="col-md-7 col-md-offset-6" id="myInfo">  <!-- user section with personal information -->
    <app-personalinfo></app-personalinfo>
  </div>
</div>
<div class="row">

  <div class="col-md-5" id="myAppointments">  <!-- user section with upcoming appointment information-->
    <p>
      Upcoming appointment view
    </p>
  </div>
</div>
